langgraph
langgraph-checkpoint-sqlite
langchain-core
langchain-groq
langchain-community
langchain-huggingface
langchain-chroma
langchain-text-splitters
python-dotenv
requests
streamlit
pypdf 
duckduckgo-search
ddgs
sentence-transformers